.carousell{
    width: 100%;
}


.BTN{
    padding-left: 1em;
    padding-right: 1em;
    justify-content: center;
    font-size: xxx-large;
    border-radius: 15px;
}

#right{

}
#left{

}



